################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Xem.Api/v16
/Xem.Api/bin/Debug/netstandard2.0
/Xem.Api/obj
/.vs/Xem.Api/DesignTimeBuild/.dtbcache
/Xem.Api/bin/Release
/Xem.Api.Test.Integration/obj/Release/netcoreapp2.1
/Xem.Api.Test.Unit/obj/Release/netcoreapp2.1
